* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.feather {
  width: 1.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  margin-bottom: 2rem;
}

header img {
  width: 12rem;
}

header nav a {
  color: #fff;
  display: inline-block;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

header nav a:hover {
  color: darkred;
}

header nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid darkred;
  transform: scaleX(0);
}

header nav a:hover::after {
  transform: scaleX(0.8);
  transition: 0.2s ease-in;
}

header .ext a {
  margin: 1rem;
  color: #fff;
}

header .ext a:hover {
  color: darkred;
}

#menu {
  display: none;
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5%;
  margin-bottom: 5rem;
}

.col .column1 {
  width: 40rem;
  padding: 1rem;
  margin-bottom: 5rem;
}

.col .column1 h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #fff;
}

.col .column1 h2 span {
  color: darkred;
}

.col .column1 p {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.col .btn {
  color: #fff;
  font-size: 1.2rem;
  background-color: darkred;
  padding: 0.8rem 2%;
  border-radius: 0.6rem;
  border: none;
  box-shadow: 0.1rem 0.1rem 0.5rem black;
}

.col .btn:hover {
  font-size: 1.5rem;
  cursor: pointer;
}

.col .column2 {
  color: #fff;
  padding: 1rem 3%;
  border-radius: 1.5rem;
  background-color: rgba(56, 56, 56, 0.3);
}

.col .column2 h2 {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.col .column2 h2 span {
  color: #0886e6;
}
.col .column2 p {
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.col .column2 label {
  display: block;
  padding: 0.3rem;
}

.col .column2 input {
  width: 100%;
  display: block;
  font-size: 0.7rem;
  padding: 0.7rem 1rem;
  border: none;
  margin: 1rem 0;
  outline: none;
  border-radius: 0.3rem;
}

.col .column2 input:focus {
  outline: 3px solid rgb(2, 90, 152);
}

.col .column2 button {
  width: 100%;
  border: none;
  font-size: 1rem;
  outline: none;
  background-color: #4eb64e;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.col .column2 button:hover {
  background-color: #008000;
}

.col .column2 .eaa {
  font-weight: 400;
  font-size: 1rem;
}

.col .column2 .eaa a {
  color: #0886e6;
  font-size: 1rem;
  font-weight: 700;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(117, 73, 29);
  padding: 0.5rem 5%;
}

footer .contact {
  display: flex;
}
footer .contact .hub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .sosmed {
  display: flex;
  align-items: center;
}

footer p {
  font-size: 0.8rem;
  color: #fff;
}

footer .feather {
  color: #fff;
  margin: 0.5rem;
  width: 1rem;
}

footer .feather:hover {
  color: #000;
}

/* media queries */

@media (max-width: 1116px) {
  html {
    font-size: 85%;
  }
  body {
    background-size: cover;
    background-attachment: fixed;
  }

  header {
    margin-bottom: 5rem;
  }

  footer .credit {
    display: none;
  }
}

@media (max-width: 960px) {
  html {
    font-size: 80%;
  }

  header {
    margin-bottom: 10rem;
  }
}

@media (max-width: 960px) {
  html {
    font-size: 70%;
  }
  header {
    margin-bottom: 13rem;
  }
}

body {
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  header {
    margin-bottom: 10rem;
  }

  body {
    background-size: cover;
    background-attachment: fixed;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 55%;
  }

  nav {
    display: none;
  }
  #menu {
    display: initial;
  }

  body {
    background-size: cover;
    background-attachment: fixed;
  }
}
